
section.subscribe
    .container
        .subscribe-container
            h2.subscribe__title Подпишись
            p.subscribe__subtitle Отправляем анонсы новых статей, выпусков и трансляций
            form.subscribe-form
                input(type="email", name="email" placeholder='Email')
                input(type="date", name="date" placeholder='')
                input(type="tel", name="tel" placeholder='Телефон')
                input(type="time", name="time" placeholder='')
                input(type="button", value="Подписаться")

