@import 'variables';

.footer {
    padding: 50px 0 80px;
    background-color: $base-gray;
}

.footer-container {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 41px;
}

.footer-left {
    max-width: 400px;
}

.footer-left__title {
    margin-bottom: 10px;
}

.footer-left__text {
    margin-bottom: 25px;
}

.footer-left__link {
    &:hover {
        color: $base-green;
    }
}

.footer-right {
    display: flex;
    column-gap: 30px;
    svg {
        &:hover {
            path {
                fill: $base-green;
            }
        }
    }
}

@media (max-width: 320px) {
    .footer-right {
        justify-content: center;
        width: 100%;
    }
}