.slider {
    padding: 212px 0 75px;
}

.slider-block__item {
    // width: 1240px;
    // height: 650px;
    position: relative;
    img {
        width: 1240px;
        height: 650px;
        object-fit: cover;
    }
}

.slider-block__text {
    position: absolute;
    top: 62.8%;
    left: 4%;
    max-width: 524px;
}

.slider-block__title {
    margin-bottom: 20px;
}

.slider-block__description {
    font-weight: 400;
    letter-spacing: 0.16px;
}

.slider-controls {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    margin-top: 56px;
}

.slider-controls__prev, .slider-controls__next {
    cursor: pointer;
}

@media (max-width: 320px) {
    .slider-block__item {
        img {
            width: 290px;
            height: 450px;
        }
    }
}