@import 'variables';

.slider {
    padding: 212px 0 75px;
}

.slider-block__item {
    position: relative;
    img {
        max-width: 1240px;
        max-height: 650px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}

.slider-block__text {
    position: absolute;
    top: 62.8%;
    left: 4%;
    max-width: 554px;
    padding-right: 30px;
}

.slider-block__title {
    margin-bottom: 20px;
}

.slider-block__description {
    font-weight: 400;
    letter-spacing: 0.16px;
}

.slider-controls {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    margin-top: 56px;
}

.slider-controls__prev, .slider-controls__next {
    &:hover {
        cursor: pointer;
        path {
            fill: $base-green;
        }
    }
}

@media (max-width: 1000px) {
    .slider-block__text {
        top: 50%;
    }
}

@media (max-width: 767px) {
    .slider {
        padding: 150px 0 40px;
    }
    .slider-block__item {
        img {
            max-width: 730px;
            height: 550px;
        }
    }
    .slider-block__text {
        top: 60%;
    }
}

@media (max-width: 480px) {
    .slider-block__item {
        img {
            height: 450px;
        }
    }
    .slider-block__text {
        top: 40%;
    }
}

@media (max-width: 320px) {
    .slider-block__item {
        img {
            max-width: 290px;
        }
    }
}