doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=M+PLUS+1&family=M+PLUS+1p:wght@400;500&display=swap' rel='stylesheet')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css")

  title 500na700
  body
    include includes/header
    main.main
        include includes/slider
        include includes/faq
        include includes/news
        include includes/subscribe
    include includes/footer